*{
    box-sizing:border-box;
}
[class *= 'resume_']{
    float: left;
}
.big_container{

}
.big_container::after {
    content: "";
    margin: 0;
    padding: 0;
    display: flex;
  }
  
[class *= 'resume_left']{
	width: 40%;
    background: rgb(248, 50, 83);
    height: 1708px;
    align-content: center;
    margin: 0;
    background: linear-gradient(rgb(238, 64, 64), blue,rgb(147, 147, 247));
    border: solid black;

}
[class *= 'resume_right']{
	width: 60%;
    background: rgb(250, 143, 72);
    border: solid black;
}
.icon{
    width: 300px;
    height: 300px;
    border-radius: 50%;
    margin: 16%;
}

.icon >img{
    max-width: 100%;
    overflow: hidden;
    border-radius: 50%;
}
.name{
    color: aliceblue;
    align-content: center;
}

.born{
    color: aliceblue;

}
.social_media{
    color: aliceblue;

}
.contact{
    color: aliceblue;

}
.school{
    color: aliceblue;

}

.edu{

}
.exprience{

}
.skills{

}
.profession{

}

.center{
    text-align: center;
}

.border{
}
.padding1{
    padding: 15px;
    padding-top: 0;
    padding-bottom: 0;
}
.line{
    border: solid green 5px;
    width: 200px;
}
.title_padding{
    padding: 0;
  }
.title_margin{
    margin: 0;
    margin-left: 15px;
}
h1>img{
    max-width: 50px;
    max-height: 50px;
    background: rgb(109, 109, 250);
    margin: 3px;
}
.space{
    padding: 10px;
  }
.padding2{
    padding: 15px;
}
.myworks{
    width: 92%;
    height: 440px;
    background-image: url(resresume1.jpg);
    /**-webkit-animation:mysecond 18s infinite; /* Safari and Chrome */
    border-radius: 50%;

}
.i img{
    max-width: 30px;
    max-height: 30px;
}
.ig{

}
@-webkit-keyframes mysecond /* Safari and Chrome */
{
	0%  {background:url(https://scontent.ftpe7-4.fna.fbcdn.net/v/t1.0-9/57216779_2683657511706978_1835938114896396288_o.jpg?_nc_cat=105&_nc_ht=scontent.ftpe7-4.fna&oh=5dc094eab32e0063c226f786c3b204fd&oe=5D4146AC);}
	25%  {background:url(https://www.instagram.com/p/BtXS2AshrPu/);}
	50%  {background:url(https://www.instagram.com/p/BtPT4MDBw2k/);}
	100% {background:url(https://www.instagram.com/p/BszkhiSBo12/);}
}
.container-mid{
    padding: 10px;
    display: flex;
    justify-content: center;
}
.myphotos{
    width: 92%;
    height: 440px;
    -webkit-animation:myfirst 18s infinite; /* Safari and Chrome */
    border-radius: 50%;
}
@-webkit-keyframes myfirst /* Safari and Chrome */
{
	0%   {background:url(https://picsum.photos/600/800?image=900);}
	25%  {background:url(https://picsum.photos/600/800?image=901);}
	50%  {background:url(https://picsum.photos/600/800?image=902);}
	100% {background:url(https://picsum.photos/600/800?image=903);}
}

@media only screen and (min-width: 600px) {
    /* For tablets: */
    .resume_right-s-1 ,.resume_left-s-1 {width: 8.33%;}
    .resume_right-s-2 ,.resume_left-s-2 {width: 16.66%;}
    .resume_right-s-3 ,.resume_left-s-3{width: 25%;}
    .resume_right-s-4 ,.resume_left-s-4{width: 33.33%;}
    .resume_right-s-5 ,.resume_left-s-5{width: 41.66%;}
    .resume_right-s-6 ,.resume_left-s-6{width: 50%;}
    .resume_right-s-7 ,.resume_left-s-7{width: 58.33%;}
    .resume_right-s-8 ,.resume_left-s-8{width: 66.66%;}
    .resume_right-s-9 ,.resume_left-s-9{width: 75%;}
    .resume_right-s-10 ,.resume_left-s-10{width: 83.33%;}
    .resume_right-s-11 ,.resume_left-s-11{width: 91.66%;}
    .resume_right-s-12 ,.resume_left-s-12{width: 100%;}
  }
  @media only screen and (min-width: 768px) {
    /* For desktop: */
    .resume_right-1 ,.resume_left-1 {width: 8.33%;}
    .resume_right-2 ,.resume_left-2 {width: 16.66%;}
    .resume_right-3 ,.resume_left-3 {width: 25%;}
    .resume_right-4 ,.resume_left-4 {width: 33.33%;}
    .resume_right-5 ,.resume_left-5 {width: 41.66%;}
    .resume_right-6 ,.resume_left-6 {width: 50%;}
    .resume_right-7 ,.resume_left-7 {width: 58.33%;}
    .resume_right-8 ,.resume_left-8 {width: 66.66%;}
    .resume_right-9 ,.resume_left-9 {width: 75%;}
    .resume_right-10,.resume_left-10 {width: 83.33%;}
    .resume_right-11,.resume_left-11 {width: 91.66%;}
    .resume_right-12,.resume_left-12 {width: 100%;}
  }
  /* For mobile phones: */
@media only screen and (max-width: 599px){
    .resume_right-ss-1 ,.resume_left-ss-1 {width: 100%;}
    .resume_right-ss-2 ,.resume_left-ss-2 {width: 100%;}
    .resume_right-ss-3 ,.resume_left-ss-3{width: 100%;}
    .resume_right-ss-4 ,.resume_left-ss-4{width: 100%;}
    .resume_right-ss-5 ,.resume_left-ss-5{width: 100%;}
    .resume_right-ss-6 ,.resume_left-ss-6{width: 100%;}
    .resume_right-ss-7 ,.resume_left-ss-7{width: 100%;}
    .resume_right-ss-8 ,.resume_left-ss-8{width: 100%;}
    .resume_right-ss-9 ,.resume_left-ss-9{width: 100%;}
    .resume_right-ss-10 ,.resume_left-ss-10{width: 100%;}
    .resume_right-ss-11 ,.resume_left-ss-11{width: 100%;}
    .resume_right-ss-12 ,.resume_left-ss-12{width: 100%;}
}
@media only screen and (max-width: 599px){
    .resume_left-heightss-1{height: 1000px}
}
